body {
  width: calc(100vw - (100vw - 100%));
  height: auto;
  padding-top: 7vh;
}

body p::before {
  content: "";
  display: block;
  background-color: #00b5fd;
  width: 99%;
  height: 1px;
  margin: 50px 0 10px .5%;
}
