body {
  width: calc(100vw - (100vw - 100%));
  height: auto;
  padding-top: 7vh;
}

input {
  transition: all 350ms ease;
}

.rotator {
  transform: rotate(360deg);
}

.translator {
  transform: translate(500px, 500px);
}
